/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles.css or src/styles.scss */
@font-face {
	font-family: "Inconsolata"; /* Choose a descriptive name */
	src: url("../public/fonts/Inconsolata-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("../public/fonts/Inconsolata-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("../public/fonts/Inconsolata-ExtraBold.ttf") format("truetype");
	font-weight: bolder;
	font-style: normal;
}

@font-face {
	font-family: "Inconsolata";
	src: url("../public/fonts/Inconsolata-Bold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@layer utilities {
	.text-gradient {
		background-image: theme("backgroundImage.text-gradient");
		-webkit-background-clip: text;
		background-clip: text;
		color: transparent;
	}
}
