<app-background>
  <div class="font-mono">
    <div class="flex items-center justify-center">
      <div class="mx-auto text-center mb-8">
        <!-- logo -->
        <div class="flex items-center justify-center mt-6">
          <img src="images/logo-full.svg" class="w-32" alt="logo" />
        </div>

        <!-- title -->
        <div
          class="md:flex md:justify-center md:mx-auto font-extrabold text-3xl md:text-5xl md:w-[70%] lg:w-[50%] mt-[5%]">
          <p class="text-custom_neutral-0">Congrats,
            <span class="bg-text-gradient bg-clip-text text-transparent">
              {{receiveData?.value.name |titlecase}}!
            </span>
            Your ticket is ready.
          </p>
        </div>

        <!-- email part -->
        <div class="flex justify-center mt-3">
          <p class="text-custom_neutral-500 text-lg w-full  md:w-[60%] lg:w-[40%] font-hairline">We've emailed your
            ticket to <span class="text-custom_orange-500 opacity-80">{{receiveData?.value.emailAddress}}
            </span>and will send updates in the run up to the events.
          </p>
        </div>
      </div>
    </div>

    <!-- image -->

    <div class="flex justify-center items-center px-4 py-6">
      <div class="relative w-full max-w-md bg-no-repeat bg-center bg-contain md:bg-cover pointer-events-none"
        style="background-image: url('/images/pattern-ticket.svg')">

        <div class="relative z-10 p-4 md:p-6 ">

          <div class="flex justify-between items-center bg-custom-fix">
            <img src="/images/logo-full.svg" class="w-24 md:w-40" alt="Logo" />
            <span
              class="code-custom-fix translate-x-[250%] absolute left-1/2 top-[40%] md:translate-x-[320%] rotate-90 text-sm md:text-base text-custom_neutral-500">
              #01609
            </span>
          </div>


          <p class="text-custom_neutral-500 text-xs md:text-sm mt-2">
            {{ currentDateTime | date: 'MMM d, y' }}, Austin Tx
          </p>


          <hr class="my-4 border-custom_neutral-700/30" />

          <div class="flex items-center gap-4">
            <img [src]="receiveData.value.url || 'images/image-avatar.jpg'"
              class="w-12 h-12 md:w-20 md:h-20 rounded-lg object-cover" alt="Avatar" />
            <div class="text-custom_neutral-300">
              <p class="text-base md:text-xl font-thin">
                {{ receiveData.value.name | titlecase }}
              </p>
              <div class="flex items-center gap-2 mt-1">
                <img src="images/icon-github.svg" class="w-4 md:w-6" alt="GitHub" />
                <span class="text-xs md:text-sm">{{ receiveData.value.gitHubAccount }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</app-background>

<!-- <div class="flex justify-center w-full second">
  <div
    class=" md:mt-[2%] max-w-lg w-full h-auto bg-center bg-no-repeat bg-contain  bg-[url('/images/pattern-ticket.svg')] pointer-events-none">
    <div class="relative pl-[10%]">
      <div
        class="absolute right-2 md:right-5 transform rotate-90 text-custom_neutral-500 text-xl top-[110%] md:top-[100%]">
        #01609
      </div>
      <img src="/images/logo-full.svg" class="w-40 pt-4 md:w-64 md:pt-6 md:pl-6" alt="logo" />

      <p class="text-custom_neutral-500  pl-11 md:pl-0 md:ml-[17%] font-normal text-xs md:mt-4"> {{ currentDateTime
        |
        date:'MMM d, y'
        }}
        ,
        Austin Tx</p>
    </div>
    <div class="p-6 flex items-center">
      <img [src]="receiveData.value.url ? receiveData.value.url:'images/image-avatar.jpg'"
        class="w-10 h-10 md:w-20 md:h-20 object-cover rounded-lg" alt="personal-image" />
      <div class="ml-3 text-custom_neutral-300 flex flex-col justify-center">
        <p class="text-lg md:text-xl font-thin">{{receiveData.value.name |titlecase }}</p>

        <div class="flex items-center">
          <img src="images/icon-github.svg" class="w-3 md:w-6 rounded-lg" alt="github logo" />
          <p class="md:ml-2">{{receiveData?.value.gitHubAccount}}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->
